@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* offer slider swiper style */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* options section styles */
.options {
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  width: 85rem;
  margin: 0 auto;
}
.options > li {
  display: flex;
  flex-wrap: wrap;
  width: 100px;
  height: 120px;
  justify-content: center;
  align-items: center;
}
.options > li > img {
  width: 52px;
  height: 52px;
}
.options > li > p {
  text-align: center;
}
/* last options li of options sec */
.last-options {
  width: 50px !important;
}
/* more option icon */
.more-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f1;
  height: 52px;
  width: 52px;
  border-radius: 50%;
}
.more-icon > div {
  background-color: #92959b;
  width: 7px;
  height: 7px;
  border-radius: 50%;
}
.more-icon > div:nth-child(2) {
  margin: 0 4px;
}
/* product offer image section */
.product-image > img {
  width: 330px;

  border-radius: 16px;
}
/* super market card section */
.supermarket {
  display: flex;
  justify-content: space-between;
  width: 492px;
}
.supermarket > div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 75px;
  height: 75px;
  border-radius: 50%;
}
.supermarket > div > img{
  border-radius: 50%;
  width: 58px;
  height: 58px;
}